- name: Create and start or delete the registry container
  become: yes
  containers.podman.podman_container:
    name: ocp4-registry-mirror
    image: registry:2.7.1
    state: "{{ container_state }}"
    ports:
        - "{{ registry_port }}:{{ registry_port }}"
    volume:
      - "{{ container_data_dir }}:/registry:z"
      - "{{ container_dir }}/auth:/auth:z"
      - "{{ container_dir }}/certs:/certs:z"
      - "{{ container_dir }}/conf/config.yml:/etc/docker/registry/config.yml:z"
    env:
       REGISTRY_AUTH_HTPASSWD_REALM: Registry
       REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
       REGISTRY_AUTH: htpasswd
       REGISTRY_HTTP_SECRET: "{{ registry_http_secret|default('Null') }}"
       REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/{{ ssl_cert_filename }}"
       REGISTRY_HTTP_TLS_KEY: "/certs/{{ ssl_key_filename }}"
       REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /registry
  tags: [ registry_container_state, container, registry, deploy_registry ]